
host = "http://rancher-metadata"
repeat = 66

################################################################################

[[set]]
name = "template 1"
template = "nginx.tmpl"
dest = "/etc/nginx/sites-available/nginx.conf"

[set.check]
cmd = "nginx"
args = ["-t"]

[set.run]
cmd = "nginx"
args = ["-s", "reload"]

################################################################################

[[set]]
name = "template 2"
template = "nginx1.tmpl"
dest = "/etc/nginx/sites-available/nginx1.conf"
