prefix = "/latest"
host = "http://rancher-metadata"
repeat = 66
user = "root"
group = "root"
loglevel = "debug"

################################################################################

[[set]]
name = "template 1"
template = "upstream.tmpl"
dest = "/etc/nginx/sites-available/upstream.conf"

[set.check]
cmd = "nginx"
args = ["-t"]

[set.run]
cmd = "nginx"
args = ["-s", "reload"]

################################################################################

[[set]]
name = "template 2"
template = "nginx1.tmpl"
dest = "/etc/nginx/sites-available/nginx1.conf"
